@use "variables";

.highlight{
  background-color: #5045e6;
  color: white;
  font-weight: bold;
}
.highlight-first-two{
 background-color: variables.$button-color;
}

td{
  padding: 20px;
  text-align: center;
}

th{
  text-align: center;
}

mat-table{
  justify-items: center;
  background-color:#f9f9f9;
  box-shadow: none;
}

