@use "variables";

.title{
  text-align: center;
}
.congratulations-message{
  font-size: variables.$small-font-size;
  text-align: center;
}
.radio-buttons{
  display: flex;
  padding-top: variables.$medium-plus;
  flex-direction: column;
  line-height: 2;
  margin-bottom: 30px;
}
.answer{
  & span:hover{
    text-decoration: underline;
    text-decoration-color: #2fbc88;
    text-decoration-thickness:3px ;
  }
}
