<div class="wrapper">
  <button class="go-back-button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  @if (isOlder()){
    <h1 class="title">18+ Knowledge-Test</h1>
  } @else {
    <h1 class="title">General-Knowledge-Test</h1>
  }
  <form [formGroup]="TestForm" (submit)="SubmitQuestion()" class="form">
    @if (isFinished){
      <div class="congratulations-message">
        Congratulations!<br>
        You Have Reached the end of the Test
      </div>
    } @else {
      <label class="input-label" for="Question" > {{Questions[CurrentQuestion]?.Question}} </label>
      <hr>
      <mat-radio-group class="radio-buttons" formControlName="Question" id="Question">
        <mat-radio-button class="answer" *ngFor="let option of Questions[CurrentQuestion]?.options" name="{{option?.answer|json}}" value="{{option?.isCorrect}}">
          <span>Answer {{option?.id}}: {{option?.answer}}</span>
        </mat-radio-button>
      </mat-radio-group>
      <button type="submit" class="submit-button" >Submit Changes</button>
    }
    @if (isOlder()){
      <h2 class="points">Score: {{OlderScore}}/10</h2>
    } @else {
      <h2 class="points">Score: {{Score}}/10</h2>
    }
  </form>
</div>
