<div class="wrapper">
  <h1 class="title">Welcome to Our Login Page</h1>
  <hr>
  <form [formGroup]="loginForm" (submit)="login()" class="form">
    <mat-form-field class="input-text">
      <mat-label>Username</mat-label>
      <input
        type="userName"
        formControlName="userName"
        matInput placeholder="Enter Your Name"
      />
      @if (loginForm.controls['userName'].hasError('required')) {
        <mat-error class="login-error" >*Name is Required to Register</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input-text">
      <mat-label>Password</mat-label>
      <input type="password"
             formControlName="password"
             matInput placeholder="Enter Your Password"
      />
      @if (loginForm.controls['password']!.hasError('required')){
        <mat-error class="login-error">*Password is required to Register</mat-error>
      } @else {
        <mat-error class="login-error">*Password must be at least 6 characters </mat-error>
      }
    </mat-form-field>
    <div class="submit-buttons">
      <button type="submit" mat-flat-button [disabled]="loginForm.invalid" (click)="login()">Login</button>
      <button type="submit" mat-flat-button (click)="register()">Register</button>
    </div>

    @if (!isAuthenticated){
      <mat-error class="login-error">Username or Password not found, please try again</mat-error>
    }
  </form>
</div>


