.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 3;
  align-items: center;
  box-sizing: border-box;
}
.wrapper{
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 570px) {
    width: 90%;
    .input-text{
      width: 55%;
    }
  }
}
hr{
  border-top: 2px solid #2fbc88;
  width: 100%;
}


.input-text{
  border: 0;
  outline: 0;
  border-bottom: 1px solid #2fbc88;
  background-color: transparent;
  width: 60%;
  text-align: center;
  font-size: 12pt;
}

.submit-button{
  margin-top: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #5045e6;
  color: white;
  border-color: transparent;
  width: 50%;
}

.login-error{
  color: red;
  font-size: 10pt;
}

