@use "variables";

.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 3;
  align-items: center;
  box-sizing: border-box;
}
.wrapper{
  max-width: 600px;
  margin: variables.$large auto;
  padding: variables.$medium-plus;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 variables.$extra-small variables.$small rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 570px) {
    width: 90%;
    .input-text{
      width: 55%;
    }
  }
}
hr{
  border-top: 2px solid #2fbc88;
  width: 100%;
}


.input-text{
  border: 0;
  outline: 0;
  border-bottom: 1px solid #2fbc88;
  background-color: transparent;
  width: 60%;
  text-align: center;
  font-size: variables.$small-font-size;
}

.submit-button{
  margin-top: variables.$large-plus;
  height: variables.$large-plus;
  border-radius: variables.$medium-plus;
  background-color: #5045e6;
  color: white;
  border-color: transparent;
  width: 50%;
}

.login-error{
  --mat-form-field-error-text-color: red;
  margin-bottom: 30px;
  font-size: variables.$extra-small-font-size;
}

.disabled-button{
  background-color: grey;
}

