/* sizes */
$extra-small: 4px;
$small: 8px;
$small-plus: 12px;
$medium: 16px;
$medium-plus: 24px;
$large: 32px;
$large-plus: 40px;
$extra-large: 48px;
$extra-small-font-size: 10pt;
$small-font-size: 12pt;
$font-size: 15pt;
$large-font-size: 20pt;
$button-color: #BB86FC;
$line-color: #03DAC5;
$dark-mode-background: #121212
