<div class="container">
  <h1>{{user.userName}}'s Profile</h1>
  <hr>
  <div class="profile-details">
      <div class="profile-container">
        <h1>Profile Details</h1>
        <hr>
        <span>Username: {{user.userName}}</span>
        @if (user.profilePicture){
          <img class="profile-image" [ngSrc]="user.profilePicture" priority width="200" height="200" alt="profile-pic"/>
        }
        <span>Followers: 0</span>
        <span>Age: {{user.age}}</span>
        <button mat-stroked-button >Follow</button>
      </div>
      <div class="user-post" >
        <h1>{{user.userName}}'s Activity</h1>
        <hr>
        @if (!posts) {
          <span>User Has Not Posted Yet!</span>
        } @else {
          @for (post of posts; track post.id) {
            <app-post
              [user]="post.belongsTo"
              [postContent]="post.content"
              [date]="post.date"
              [post]="post"
            ></app-post>
          }
        }
      </div>
    </div>
  </div>
