<div class="container">
  <h1>Conversations</h1>
  <div class="back-buttons">
    <button  mat-icon-button class="go-back-button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  </div>
  <hr>
  <div class="available-users">
    @for (user of availableUsers; track user.id) {
      <div>
        <span (click)="selectedConversation(user)">{{user.userName}}</span>
      </div>
    }
  </div>
  <div class="conversations-container">
    <div class="conversations-details">
      <h1>Users</h1>
      @for (conversations of openConversations; track conversations.id) {
        <div class="available-chats" (click)="openConversation(conversations.id)">
          <p>{{conversations.secondUser}}</p>
        </div>
      }
    </div>
    <div class="chat">
      <h1>DM's</h1>
      <p>{{conversation.secondUser}}</p>
      @for (message of conversation.messages; track message) {
        <div class="direct-message">
          <div class="message"
               [ngClass]="{'message-left': message.user!==authenticationService.userName,
             'message-right': message.user===authenticationService.userName
             }">
            <span>{{message.user}}</span>
            <span>{{message.message}}</span>
          </div>
        </div>
      }
      <button mat-icon-button class="go-back-button" (click)="sendMessage('hi')"><mat-icon>arrow_back</mat-icon></button>
    </div>
  </div>
</div>
