  <div class="wrapper">
    <button class="go-back-button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <h1 class="title">Profile Editor</h1>
    <form [formGroup]="editForm" (submit)="updateUserProfile()" class="form">
      <mat-form-field class="input-text">
        <mat-label>Username</mat-label>
        <input
          type="userName"
          formControlName="userName"
          matInput placeholder="Enter Your Name"
          required
        />
        <mat-error class="login-error" *ngIf="editForm.controls['userName'].hasError('required')">*Name is Required</mat-error>
      </mat-form-field>

      <mat-form-field class="input-text">
        <mat-label>Password</mat-label>
        <input type="password"
               formControlName="password"
               matInput placeholder="Enter Your Password"
               required
        />
        <mat-error class="login-error" *ngIf="editForm.controls['password']!.hasError('required')">*Password is required</mat-error>
        <mat-error class="login-error" *ngIf="editForm.controls['password']!.hasError('minlength')">*Password must be at least 6 characters </mat-error>
      </mat-form-field>

      <mat-form-field class="input-text">
        <mat-label>Email</mat-label>
        <input type="email"
               formControlName="email"
               matInput placeholder="Enter Your Email"
               required
        />
        <mat-error class="login-error" *ngIf="editForm.controls['email']!.hasError('email')">*Invalid Email Address</mat-error>
        <mat-error class="login-error" *ngIf="editForm.controls['email']!.hasError('required')">*Email Requiredr</mat-error>
      </mat-form-field>

      <mat-form-field class="input-text">
        <mat-label>Age</mat-label>
        <input type="age"
               formControlName="age"
               matInput placeholder="Enter Your Age"
               required
        />
        <mat-error class="login-error" *ngIf="editForm.controls['age'].hasError('required')">*Age is required</mat-error>
        <mat-error class="login-error" *ngIf="editForm.controls['age'].hasError('ageRange')">*Age Must be between 15-70</mat-error>
        <mat-error class="login-error" *ngIf="editForm.controls['age'].hasError('notNumber')">*Age Must be a Number</mat-error>
      </mat-form-field>

      <div class="submit-buttons">
        <button type="submit" mat-flat-button (click)="(updateUserProfile())" [disabled]="editForm.invalid">Register</button>
      </div>
    </form>
  </div>

