 <div class="wrapper">
    <div class="welcome-header">
      <h1 class="welcome-message">Hello {{userName}} Welcome to your DashBoard!</h1>
      <img class="profile-picture" [ngSrc]="profilePic" priority width="200" height="200" alt="profile-pic"/>
      <span>{{userName}}'s Score: {{userScore || 0}}/10</span>
      <span>{{userName}}'s Advanced Score: {{olderScore || 0}}/10</span>
      <hr>
    </div>
    <mat-slide-toggle class="dark-switch" (change)="toggleDarkMode($event)" [(ngModel)]="isChecked" >Dark Mode</mat-slide-toggle>
   <mat-grid-list cols="2" rowHeight="2:1">
     <mat-grid-tile><button mat-stroked-button class="dashboard-button" (click)="editProfile()">Edit Profile Details</button></mat-grid-tile>
     <mat-grid-tile> <button mat-stroked-button class="dashboard-button" (click)="goToGeneralTest()">Go to General Test</button></mat-grid-tile>
     <mat-grid-tile><button mat-stroked-button class="dashboard-button" (click)="goToOlderTest()" >Go to Advanced Test</button></mat-grid-tile>
     <mat-grid-tile> <button mat-stroked-button class="dashboard-button" (click)="goToLeaderBoards()" >Leaderboards</button></mat-grid-tile>
     <mat-grid-tile><button mat-stroked-button class="dashboard-button" (click)="goToFeed()" >InstaBook</button></mat-grid-tile>
     <mat-grid-tile><button mat-stroked-button class="dashboard-button" (click)="logOut()">Logout</button></mat-grid-tile>
   </mat-grid-list>
  </div>

