@use "variables";

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 600px;
  margin: variables.$large-plus auto;
  text-align: center;
  align-items: center;
  padding: 100px;
}

.dashboard-button {
  margin-top: variables.$large-plus;
  height: variables.$large-plus;
  border-radius: variables.$medium-plus;
  background-color: variables.$button-color;
  color: white !important;
  width: 50%;
}

.welcome-header {
  display: flex;
  line-height: 2;
  flex-direction: column;
}
