.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  height: 500px;
  margin: 40px auto;
  text-align: center;
  align-items: center;
  padding: 100px;
}
.dashboard-button{
  margin-top: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #5045e6;
  color: white !important;
  width: 50%;
}
.welcome-header{
  display: flex;
  line-height: 2;

  flex-direction: column;
}
